 .u-section-1 {
  background-image: url("images/IMG_4329.JPG");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-group-1 {
  width: 570px;
  min-height: 521px;
  background-image: none;
  margin: 60px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 117px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-group-1 {
    width: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 641px;
  }

  .u-section-1 .u-group-1 {
    min-height: 465px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-1 .u-group-1 {
    min-height: 313px;
    margin-top: 77px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 2530px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 58px;
  margin-bottom: 2px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 2470px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 22px;
}

.u-section-2 .u-shape-1 {
  width: 328px;
  height: 328px;
  --radius: 20px;
  margin: 20px 8px 0 0;
}

.u-section-2 .u-image-1 {
  height: 219px;
  width: 336px;
  margin: -307px 0 0;
}

.u-section-2 .u-text-1 {
  margin: 20px 8px 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 22px;
}

.u-section-2 .u-shape-2 {
  width: 328px;
  height: 328px;
  --radius: 50px;
  margin: 20px 8px 0 0;
}

.u-section-2 .u-image-2 {
  height: 219px;
  width: 336px;
  margin: -307px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 8px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 22px;
}

.u-section-2 .u-shape-3 {
  width: 328px;
  height: 328px;
  --radius: 50px;
  margin: 20px 8px 0 0;
}

.u-section-2 .u-image-3 {
  height: 219px;
  width: 336px;
  margin: -307px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 8px 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 22px;
}

.u-section-2 .u-shape-4 {
  width: 328px;
  height: 328px;
  --radius: 50px;
  margin: 20px 8px 0 0;
}

.u-section-2 .u-image-4 {
  height: 219px;
  width: 336px;
  margin: -307px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 8px 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 22px;
}

.u-section-2 .u-shape-5 {
  width: 328px;
  height: 328px;
  --radius: 50px;
  margin: 20px 8px 0 0;
}

.u-section-2 .u-image-5 {
  height: 219px;
  width: 336px;
  margin: -307px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 8px 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 22px;
}

.u-section-2 .u-shape-6 {
  width: 328px;
  height: 328px;
  --radius: 50px;
  margin: 20px 8px 0 0;
}

.u-section-2 .u-image-6 {
  height: 219px;
  width: 336px;
  margin: -307px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 8px 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 0 22px;
}

.u-section-2 .u-shape-7 {
  width: 328px;
  height: 328px;
  --radius: 50px;
  margin: 20px 8px 0 0;
}

.u-section-2 .u-image-7 {
  height: 219px;
  width: 336px;
  margin: -307px 0 0;
}

.u-section-2 .u-text-7 {
  margin: 20px 8px 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 0 22px;
}

.u-section-2 .u-shape-8 {
  width: 328px;
  height: 328px;
  --radius: 50px;
  margin: 20px 8px 0 0;
}

.u-section-2 .u-image-8 {
  height: 219px;
  width: 336px;
  margin: -307px 0 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 8px 0;
}

.u-section-2 .u-container-layout-9 {
  padding: 0 22px;
}

.u-section-2 .u-shape-9 {
  width: 328px;
  height: 328px;
  --radius: 50px;
  margin: 20px 8px 0 0;
}

.u-section-2 .u-image-9 {
  height: 219px;
  width: 336px;
  margin: -307px 0 0;
}

.u-section-2 .u-text-9 {
  margin: 20px 8px 0;
}

.u-section-2 .u-container-layout-10 {
  padding: 0 22px;
}

.u-section-2 .u-shape-10 {
  width: 328px;
  height: 328px;
  --radius: 50px;
  margin: 20px 8px 0 0;
}

.u-section-2 .u-image-10 {
  height: 219px;
  width: 336px;
  margin: -307px 0 0;
}

.u-section-2 .u-text-10 {
  margin: 20px 8px 0;
}

.u-section-2 .u-container-layout-11 {
  padding: 0 22px;
}

.u-section-2 .u-shape-11 {
  width: 328px;
  height: 328px;
  --radius: 50px;
  margin: 20px 8px 0 0;
}

.u-section-2 .u-image-11 {
  height: 219px;
  width: 336px;
  margin: -307px 0 0;
}

.u-section-2 .u-text-11 {
  margin: 20px 8px 0;
}

.u-section-2 .u-container-layout-12 {
  padding: 0 22px;
}

.u-section-2 .u-shape-12 {
  width: 328px;
  height: 328px;
  --radius: 50px;
  margin: 20px 8px 0 0;
}

.u-section-2 .u-image-12 {
  height: 219px;
  width: 336px;
  margin: -307px 0 0;
}

.u-section-2 .u-text-12 {
  margin: 20px 8px 0;
}

.u-section-2 .u-container-layout-13 {
  padding: 0 22px;
}

.u-section-2 .u-shape-13 {
  width: 328px;
  height: 328px;
  --radius: 50px;
  margin: 20px 8px 0 0;
}

.u-section-2 .u-image-13 {
  height: 219px;
  width: 336px;
  margin: -307px 0 0;
}

.u-section-2 .u-text-13 {
  margin: 20px 8px 0;
}

.u-section-2 .u-container-layout-14 {
  padding: 0 22px;
}

.u-section-2 .u-shape-14 {
  width: 328px;
  height: 328px;
  --radius: 50px;
  margin: 20px 8px 0 0;
}

.u-section-2 .u-image-14 {
  height: 219px;
  width: 336px;
  margin: -307px 0 0;
}

.u-section-2 .u-text-14 {
  margin: 20px 8px 0;
}

.u-section-2 .u-container-layout-15 {
  padding: 0 22px;
}

.u-section-2 .u-shape-15 {
  width: 328px;
  height: 328px;
  --radius: 50px;
  margin: 20px 8px 0 0;
}

.u-section-2 .u-image-15 {
  height: 219px;
  width: 336px;
  margin: -307px 0 0;
}

.u-section-2 .u-text-15 {
  margin: 20px 8px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 2037px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -43px;
  }

  .u-section-2 .u-image-1 {
    height: 176px;
    margin-top: -355px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 355px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -107px;
  }

  .u-section-2 .u-image-2 {
    height: 176px;
    margin-top: -290px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -43px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-shape-3 {
    margin-top: -107px;
  }

  .u-section-2 .u-image-3 {
    height: 176px;
    margin-top: -290px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -43px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-shape-4 {
    margin-top: -107px;
  }

  .u-section-2 .u-image-4 {
    height: 176px;
    margin-top: -290px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -43px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-shape-5 {
    margin-top: -107px;
  }

  .u-section-2 .u-image-5 {
    height: 176px;
    margin-top: -290px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -43px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-shape-6 {
    margin-top: -107px;
  }

  .u-section-2 .u-image-6 {
    height: 176px;
    margin-top: -290px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -43px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-shape-7 {
    margin-top: -107px;
  }

  .u-section-2 .u-image-7 {
    height: 176px;
    margin-top: -290px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -43px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-shape-8 {
    margin-top: -107px;
  }

  .u-section-2 .u-image-8 {
    height: 176px;
    margin-top: -290px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -43px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-shape-9 {
    margin-top: -107px;
  }

  .u-section-2 .u-image-9 {
    height: 176px;
    margin-top: -290px;
  }

  .u-section-2 .u-text-9 {
    margin-top: -43px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-shape-10 {
    margin-top: -107px;
  }

  .u-section-2 .u-image-10 {
    height: 176px;
    margin-top: -290px;
  }

  .u-section-2 .u-text-10 {
    margin-top: -43px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-shape-11 {
    margin-top: -107px;
  }

  .u-section-2 .u-image-11 {
    height: 176px;
    margin-top: -290px;
  }

  .u-section-2 .u-text-11 {
    margin-top: -43px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-shape-12 {
    margin-top: -107px;
  }

  .u-section-2 .u-image-12 {
    height: 176px;
    margin-top: -290px;
  }

  .u-section-2 .u-text-12 {
    margin-top: -43px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-shape-13 {
    margin-top: -107px;
  }

  .u-section-2 .u-image-13 {
    height: 176px;
    margin-top: -290px;
  }

  .u-section-2 .u-text-13 {
    margin-top: -43px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-shape-14 {
    margin-top: -107px;
  }

  .u-section-2 .u-image-14 {
    height: 176px;
    margin-top: -290px;
  }

  .u-section-2 .u-text-14 {
    margin-top: -43px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-shape-15 {
    margin-top: -107px;
  }

  .u-section-2 .u-image-15 {
    height: 176px;
    margin-top: -290px;
  }

  .u-section-2 .u-text-15 {
    margin-top: -43px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 3745px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -13px;
  }

  .u-section-2 .u-image-1 {
    height: 206px;
    margin-top: -385px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -77px;
  }

  .u-section-2 .u-image-2 {
    height: 206px;
    margin-top: -320px;
  }

  .u-section-2 .u-shape-3 {
    margin-top: -77px;
  }

  .u-section-2 .u-image-3 {
    height: 206px;
    margin-top: -320px;
  }

  .u-section-2 .u-shape-4 {
    margin-top: -77px;
  }

  .u-section-2 .u-image-4 {
    height: 206px;
    margin-top: -320px;
  }

  .u-section-2 .u-shape-5 {
    margin-top: -77px;
  }

  .u-section-2 .u-image-5 {
    height: 206px;
    margin-top: -320px;
  }

  .u-section-2 .u-shape-6 {
    margin-top: -77px;
  }

  .u-section-2 .u-image-6 {
    height: 206px;
    margin-top: -320px;
  }

  .u-section-2 .u-shape-7 {
    margin-top: -77px;
  }

  .u-section-2 .u-image-7 {
    height: 206px;
    margin-top: -320px;
  }

  .u-section-2 .u-shape-8 {
    margin-top: -77px;
  }

  .u-section-2 .u-image-8 {
    height: 206px;
    margin-top: -320px;
  }

  .u-section-2 .u-shape-9 {
    margin-top: -77px;
  }

  .u-section-2 .u-image-9 {
    height: 206px;
    margin-top: -320px;
  }

  .u-section-2 .u-shape-10 {
    margin-top: -77px;
  }

  .u-section-2 .u-image-10 {
    height: 206px;
    margin-top: -320px;
  }

  .u-section-2 .u-shape-11 {
    margin-top: -77px;
  }

  .u-section-2 .u-image-11 {
    height: 206px;
    margin-top: -320px;
  }

  .u-section-2 .u-shape-12 {
    margin-top: -77px;
  }

  .u-section-2 .u-image-12 {
    height: 206px;
    margin-top: -320px;
  }

  .u-section-2 .u-shape-13 {
    margin-top: -77px;
  }

  .u-section-2 .u-image-13 {
    height: 206px;
    margin-top: -320px;
  }

  .u-section-2 .u-shape-14 {
    margin-top: -77px;
  }

  .u-section-2 .u-image-14 {
    height: 206px;
    margin-top: -320px;
  }

  .u-section-2 .u-shape-15 {
    margin-top: -77px;
  }

  .u-section-2 .u-image-15 {
    height: 206px;
    margin-top: -320px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 113px;
  }

  .u-section-2 .u-image-1 {
    height: 339px;
    margin-top: -511px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 56px;
  }

  .u-section-2 .u-image-2 {
    height: 339px;
    margin-top: -453px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-shape-3 {
    margin-top: 56px;
  }

  .u-section-2 .u-image-3 {
    height: 339px;
    margin-top: -453px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-shape-4 {
    margin-top: 56px;
  }

  .u-section-2 .u-image-4 {
    height: 339px;
    margin-top: -453px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-shape-5 {
    margin-top: 56px;
  }

  .u-section-2 .u-image-5 {
    height: 339px;
    margin-top: -453px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-shape-6 {
    margin-top: 56px;
  }

  .u-section-2 .u-image-6 {
    height: 339px;
    margin-top: -453px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-shape-7 {
    margin-top: 56px;
  }

  .u-section-2 .u-image-7 {
    height: 339px;
    margin-top: -453px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-shape-8 {
    margin-top: 56px;
  }

  .u-section-2 .u-image-8 {
    height: 339px;
    margin-top: -453px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-shape-9 {
    margin-top: 56px;
  }

  .u-section-2 .u-image-9 {
    height: 339px;
    margin-top: -453px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-shape-10 {
    margin-top: 56px;
  }

  .u-section-2 .u-image-10 {
    height: 339px;
    margin-top: -453px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-shape-11 {
    margin-top: 56px;
  }

  .u-section-2 .u-image-11 {
    height: 339px;
    margin-top: -453px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-shape-12 {
    margin-top: 56px;
  }

  .u-section-2 .u-image-12 {
    height: 339px;
    margin-top: -453px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-shape-13 {
    margin-top: 56px;
  }

  .u-section-2 .u-image-13 {
    height: 339px;
    margin-top: -453px;
  }

  .u-section-2 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-shape-14 {
    margin-top: 56px;
  }

  .u-section-2 .u-image-14 {
    height: 339px;
    margin-top: -453px;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-shape-15 {
    margin-top: 56px;
  }

  .u-section-2 .u-image-15 {
    height: 339px;
    margin-top: -453px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-shape-1 {
    width: 320px;
    height: 397px;
    margin-top: -25px;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    height: 209px;
    margin-top: -373px;
    width: 320px;
  }

  .u-section-2 .u-shape-2 {
    width: 320px;
    height: 397px;
    margin-top: -74px;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: 209px;
    margin-top: -323px;
    width: 320px;
  }

  .u-section-2 .u-shape-3 {
    width: 320px;
    height: 397px;
    margin-top: -74px;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    height: 209px;
    margin-top: -323px;
    width: 320px;
  }

  .u-section-2 .u-shape-4 {
    width: 320px;
    height: 397px;
    margin-top: -74px;
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    height: 209px;
    margin-top: -323px;
    width: 320px;
  }

  .u-section-2 .u-shape-5 {
    width: 320px;
    height: 397px;
    margin-top: -74px;
    margin-right: 0;
  }

  .u-section-2 .u-image-5 {
    height: 209px;
    margin-top: -323px;
    width: 320px;
  }

  .u-section-2 .u-shape-6 {
    width: 320px;
    height: 397px;
    margin-top: -74px;
    margin-right: 0;
  }

  .u-section-2 .u-image-6 {
    height: 209px;
    margin-top: -323px;
    width: 320px;
  }

  .u-section-2 .u-shape-7 {
    width: 320px;
    height: 397px;
    margin-top: -74px;
    margin-right: 0;
  }

  .u-section-2 .u-image-7 {
    height: 209px;
    margin-top: -323px;
    width: 320px;
  }

  .u-section-2 .u-shape-8 {
    width: 320px;
    height: 397px;
    margin-top: -74px;
    margin-right: 0;
  }

  .u-section-2 .u-image-8 {
    height: 209px;
    margin-top: -323px;
    width: 320px;
  }

  .u-section-2 .u-shape-9 {
    width: 320px;
    height: 397px;
    margin-top: -74px;
    margin-right: 0;
  }

  .u-section-2 .u-image-9 {
    height: 209px;
    margin-top: -323px;
    width: 320px;
  }

  .u-section-2 .u-shape-10 {
    width: 320px;
    height: 397px;
    margin-top: -74px;
    margin-right: 0;
  }

  .u-section-2 .u-image-10 {
    height: 209px;
    margin-top: -323px;
    width: 320px;
  }

  .u-section-2 .u-shape-11 {
    width: 320px;
    height: 397px;
    margin-top: -74px;
    margin-right: 0;
  }

  .u-section-2 .u-image-11 {
    height: 209px;
    margin-top: -323px;
    width: 320px;
  }

  .u-section-2 .u-shape-12 {
    width: 320px;
    height: 397px;
    margin-top: -74px;
    margin-right: 0;
  }

  .u-section-2 .u-image-12 {
    height: 209px;
    margin-top: -323px;
    width: 320px;
  }

  .u-section-2 .u-shape-13 {
    width: 320px;
    height: 397px;
    margin-top: -74px;
    margin-right: 0;
  }

  .u-section-2 .u-image-13 {
    height: 209px;
    margin-top: -323px;
    width: 320px;
  }

  .u-section-2 .u-shape-14 {
    width: 320px;
    height: 397px;
    margin-top: -74px;
    margin-right: 0;
  }

  .u-section-2 .u-image-14 {
    height: 209px;
    margin-top: -323px;
    width: 320px;
  }

  .u-section-2 .u-shape-15 {
    width: 320px;
    height: 397px;
    margin-top: -74px;
    margin-right: 0;
  }

  .u-section-2 .u-image-15 {
    height: 209px;
    margin-top: -323px;
    width: 320px;
  }
}