 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/1E40165F-9127-4DEE-BD0C-DF7D2CBF372E.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  margin: 60px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 30px 314px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 114px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }
} .u-section-2 {
  background-image: linear-gradient(#d1b9a1, #fef9f4);
}

.u-section-2 .u-sheet-1 {
  min-height: 1672px;
}

.u-section-2 .u-text-1 {
  margin: 81px auto 0 450px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  width: 680px;
  margin: 29px auto 0;
}

.u-section-2 .u-table-1 {
  width: 853px;
  margin: 23px auto 0;
}

.u-section-2 .u-table-entity-1 {
  min-height: 100px;
}

.u-block-43dd-4 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-1 {
  background-image: none;
}

.u-section-2 .u-table-cell-2 {
  background-image: none;
}

.u-section-2 .u-table-cell-3 {
  background-image: none;
}

.u-section-2 .u-table-cell-4 {
  background-image: none;
}

.u-section-2 .u-table-cell-5 {
  background-image: none;
}

.u-section-2 .u-table-cell-6 {
  background-image: none;
}

.u-section-2 .u-table-cell-7 {
  background-image: none;
}

.u-section-2 .u-table-cell-8 {
  background-image: none;
}

.u-section-2 .u-table-cell-9 {
  background-image: none;
}

.u-section-2 .u-table-cell-10 {
  background-image: none;
}

.u-section-2 .u-table-cell-11 {
  background-image: none;
}

.u-section-2 .u-table-cell-12 {
  background-image: none;
}

.u-section-2 .u-table-cell-13 {
  background-image: none;
}

.u-section-2 .u-table-cell-14 {
  background-image: none;
}

.u-section-2 .u-table-cell-15 {
  background-image: none;
}

.u-section-2 .u-table-cell-16 {
  background-image: none;
}

.u-section-2 .u-table-cell-17 {
  background-image: none;
}

.u-section-2 .u-table-cell-18 {
  background-image: none;
}

.u-section-2 .u-table-cell-19 {
  background-image: none;
}

.u-section-2 .u-table-cell-20 {
  background-image: none;
}

.u-section-2 .u-table-cell-21 {
  background-image: none;
}

.u-section-2 .u-table-cell-22 {
  background-image: none;
}

.u-section-2 .u-table-cell-23 {
  background-image: none;
}

.u-section-2 .u-table-cell-24 {
  background-image: none;
}

.u-section-2 .u-table-cell-25 {
  background-image: none;
}

.u-section-2 .u-table-cell-26 {
  background-image: none;
}

.u-section-2 .u-table-cell-27 {
  background-image: none;
}

.u-section-2 .u-table-cell-28 {
  background-image: none;
}

.u-section-2 .u-table-cell-29 {
  background-image: none;
}

.u-section-2 .u-table-cell-30 {
  background-image: none;
}

.u-section-2 .u-table-cell-31 {
  background-image: none;
}

.u-section-2 .u-table-cell-32 {
  background-image: none;
}

.u-section-2 .u-table-cell-33 {
  background-image: none;
}

.u-section-2 .u-table-cell-34 {
  background-image: none;
}

.u-section-2 .u-table-cell-35 {
  background-image: none;
}

.u-section-2 .u-table-cell-36 {
  background-image: none;
}

.u-block-43dd-35 {
  background-image: none;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  width: 680px;
  margin: 24px auto 0;
}

.u-section-2 .u-table-2 {
  width: 853px;
  margin: 23px auto 50px;
}

.u-section-2 .u-table-entity-2 {
  min-height: 100px;
}

.u-block-43dd-67 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-37 {
  background-image: none;
}

.u-section-2 .u-table-cell-38 {
  background-image: none;
}

.u-section-2 .u-table-cell-39 {
  background-image: none;
}

.u-section-2 .u-table-cell-40 {
  background-image: none;
}

.u-section-2 .u-table-cell-41 {
  background-image: none;
}

.u-section-2 .u-table-cell-42 {
  background-image: none;
}

.u-block-43dd-82 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 371px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 284px;
  }

  .u-section-2 .u-table-1 {
    width: 720px;
  }

  .u-section-2 .u-table-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 213px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    width: 540px;
  }

  .u-section-2 .u-table-1 {
    width: 540px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
    width: 540px;
  }

  .u-section-2 .u-table-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 134px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-table-1 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }

  .u-section-2 .u-table-2 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 240px;
}

.u-section-3 .u-text-1 {
  width: 680px;
  font-size: 1.5rem;
  margin: 35px auto 0;
}

.u-section-3 .u-table-1 {
  width: 853px;
  margin: 23px auto 44px;
}

.u-section-3 .u-table-entity-1 {
  min-height: 100px;
}

.u-block-a67a-48 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-1 {
  background-image: none;
}

.u-section-3 .u-table-cell-2 {
  background-image: none;
}

.u-block-a67a-55 {
  background-image: none;
}

@media (max-width: 991px) {
  .u-section-3 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
    font-size: 1rem;
  }

  .u-section-3 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-table-1 {
    width: 340px;
  }
}